<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474163120229-t7ia15eqvt29sq605bneuil67kr52dmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474163120229-t7ia15eqvt29sq605bneuil67kr52dmg</string>
	<key>API_KEY</key>
	<string>AIzaSyDPPnAw1Hpy5XoMnjYd7gMfkHto1YkPrI4</string>
	<key>GCM_SENDER_ID</key>
	<string>474163120229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tech5s.laonhaque</string>
	<key>PROJECT_ID</key>
	<string>lao-nha-que</string>
	<key>STORAGE_BUCKET</key>
	<string>lao-nha-que.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474163120229:ios:8667e876bb222ca72b1e8c</string>
</dict>
</plist>